<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<p th:text="'id: ' + ${person.getId()}">id</p>
<p th:text="${person.getFullName()}">full name</p>
<p th:text="${'age: ' + person.getAge()}">age</p>
<p th:text="${'Email: ' + person.getEmail()}">email</p>
<form th:method="GET" th:action="@{/people/edit/{id}(id=${person.getId()})}">
  <input type="submit" value="Edit"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
  <input type="submit" value="Delete">
</form>
<hr/>
<form th:method="GET" th:action="@{/people}">
  <input type="submit" value="Show people"/>
</form>

</body>
</html>